@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Kalam', cursive;
    list-style: none;
    background-color: var(--bleached-cedar-200);
}

:root {
    --bleached-cedar-50: #f2f2fb;
    --bleached-cedar-100: #e9e8f7;
    --bleached-cedar-200: #d7d5f0;
    --bleached-cedar-300: #bebbe6;
    --bleached-cedar-400: #a89fda;
    --bleached-cedar-500: #9586ce;
    --bleached-cedar-600: #866dbe;
    --bleached-cedar-700: #745ca6;
    --bleached-cedar-800: #5e4d86;
    --bleached-cedar-900: #4e436c;
    --bleached-cedar-950: #2c253c;
}

.header {
    background-color: var(--bleached-cedar-500);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header a {
    font-size: 45px;
    color: var(--bleached-cedar-950);
}

.main {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title h1 {
    color: var(--bleached-cedar-950)
}

