@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    font-family: 'Kalam', cursive;
    list-style: none;
    background-color: var(--bleached-cedar-50);
}

:root {
        --bleached-cedar-50: #fef2e8;
        --bleached-cedar-100: #fddfc4;
        --bleached-cedar-200: #fcbd8c;
        --bleached-cedar-300: #f9934b;
        --bleached-cedar-400: #f56a1a;
        --bleached-cedar-500: #e5530d;
        --bleached-cedar-600: #c63708;
        --bleached-cedar-700: #9e210a;
        --bleached-cedar-800: #831b10;
        --bleached-cedar-900: #090101e5;
        --bleached-cedar-950: #090101;
}

.header {
    background-color: var(--bleached-cedar-950);
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header i {
    font-size: 25px;
    color: var(--bleached-cedar-100);
}

.header p {
    font-size: 25px;
    color: var(--bleached-cedar-100);
}

.main {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-title {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-title h1 {
    color: var(--bleached-cedar-950)
}

.movies {
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    transition: all 0.2s ease-in-out;
}



.card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bleached-cedar-50);
    border-radius: 15px;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    box-shadow: 10px 10px 6px -3px rgba(9,1,1,0.09);
    -webkit-box-shadow: 10px 10px 6px -3px rgba(9,1,1,0.09);
    -moz-box-shadow: 10px 10px 6px -3px rgba(9,1,1,0.09);
}

.card:hover {
    background-color: var(--bleached-cedar-100);
    transition: all 0.2s ease-in-out;
}

.card a {
    color: var(--bleached-cedar-900);
    font-size: 20px;
}

.card a:hover {
    color: var(--bleached-cedar-700);
}

.card img {
    width: 200px;
    height: 275px;
    border-radius: 10px;
}


.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: var(--bleached-cedar-950);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: var(--bleached-cedar-100);
}

@media (max-width: 1080px) {

    .movies {
        grid-template-columns: 1fr 1fr;
        transition: all 0.2s ease-in-out;
    }

}

@media (max-width: 720px) {
    
    .movies {
        grid-template-columns: 1fr;
        transition: all 0.2s ease-in-out;
    }

}